<% include ../layout/header.ejs %>
<!-- Header End -->

<div id="maincontainer">
  <section id="product">
    <div class="container">
     <!--  breadcrumb --> 
      <!-- <ul class="breadcrumb">
        <li>
          <a href="#">Home</a>
          <span class="divider">/</span>
        </li>
        <li class="active">Contact</li>
      </ul>   -->
      <!-- Contact Us-->
      <h1 class="heading1"><span class="maintext">Thông tin khách hàng</h1>
      <div class="row">
        <% if(success_msg != ''){ %> 
            <div class="alert alert-success"><%= success_msg%></div>
        <% } %>
        <% if(errors) { %>
        <div class="alert alert-danger">
            <% errors.forEach(function(e){ %>

                <%= e.msg %> <br/>
            <%});%>

        </div>
        <% };%>
        <div class="span9">
          <form class="form-horizontal " action="" method="post">
            <fieldset>
              <div class="control-group">
                <label for="name" class="control-label">Name </label>
                <div class="controls">
                  <input type="text"  class="required" id="name" value="" name="name" required>
                </div>
              </div>
              <div class="control-group">
                <label for="email" class="control-label">Email </label>
                <div class="controls">
                  <input type="email"  class="required email" id="email" value="" name="email" required>
                </div>
              </div>
              <div class="control-group">
                <label for="url" class="control-label">Phone</label>
                <div class="controls">
                  <input type="tel" id="phone" value="" name="phone" placeholder="0xx3569874" pattern="[0-9]{10}" required>
                </div>
              </div>
              <div class="control-group">
                <label for="address" class="control-label">Address</label>
                <div class="controls">
                  <input class="required" id="address" name="address" required> </input>
                </div>
              </div>
              <div class="control-group">
                <label for="message" class="control-label">Message</label>
                <div class="controls">
                  <textarea  class="required" rows="6" cols="40" id="message" name="message"></textarea>
                </div>
              </div>
              <div class="form-actions">
                <input class="btn btn-orange" type="submit" value="Submit" id="submit_id">
                <input class="btn" type="reset" value="Reset">
              </div>
            </fieldset>
          </form>
        </div>
        
        <!-- Sidebar Start-->
        <div class="span3">
          <aside>
            <div class="sidewidt">
              <h2 class="heading2"><span>Note</span></h2>
              <p> Cần điền đúng và đầy đủ thông tin<br>
                Thông tin sai lệch thì đơn hàng bị hủy bởi cửa hàng<br>               
              </p>
            </div>
          </aside>
        </div>
        <!-- Sidebar End-->
        
      </div>
    </div>
  </section>
</div>

<!-- Footer -->
<% include ../layout/footer.ejs %>